/**General Settings:*/
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-size: 62.5%; /* *10 px */
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1000px;
  margin: auto;
  /* height: 200vh; */
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}

/** Navigation Settings: */

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

/* style underline */
ul > li > a::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  display: block;
  position: relative;
  top: 0.5em;
  opacity: 0;
}

ul > li:not(:last-child) > a:hover::after {
  opacity: 1;
  transition: opacity 0.5s ease;
}

nav {
  position: fixed;
  max-height: 55px;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7);
}

nav > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 1100px;
  margin: auto;
}

nav > ul > li {
  padding-right: 2em;
  text-align: center;
  align-items: center;
  margin: auto;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/** Swipe Gallery: */

.slideshow {
  width: 100%;
  height: calc(100vh - 54px);
  margin-top: 54px;
}

.slideshow img {
  width: 100%;
  height: calc(100vh - 54px);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 54px;
  transition: opacity 1s ease;
}

.slideshow img:first-child {
  z-index: 1;
}

.slideshow imag:nth-of-type(2) {
  z-index: 0;
}

.dots-container {
  position: relative;
  bottom: 20px;
  z-index: 7;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(180, 180, 180, 0.7);
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #2c2c2c;
}

/** Services style */

.services-container {
  margin-top: 2em;
  display: grid;
  grid-template-rows: 30px 1fr 30px;
  grid-template-columns: 1fr 50px 1fr;
  max-height: 60%;
}

.ser1 {
  grid-row: 1 / -1;
  grid-column: 2 / 4;
  max-width: 100%;
}

.ser2 {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1em;
  box-shadow: 0 0 15px #2c2c2c;
}

.ser-title{
  width: 50%;

}
